/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.cpcache
.cider-ns-map.el
.cider-repl-history
node_modules
dist
build
.DS_Store
*.swp
*~
.calva
.clj-kondo/.cache
