{:kotoba.app/id "cloud.itonami.isic-879", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid6sjwa75jlmthei44cxns76mi5qw5ql42s3gyudqq6clbfv3myqi", :kotoba.app/embed-url "ipfs://bafkreid6sjwa75jlmthei44cxns76mi5qw5ql42s3gyudqq6clbfv3myqi", :published {:archive "https://kotobase.net/ipfs/bafkreid6sjwa75jlmthei44cxns76mi5qw5ql42s3gyudqq6clbfv3myqi", :size 72955, :put-status 201, :get-status 200, :at "2026-08-15T13:47:04.425Z"}}
